h1 {
  color: rgb(255, 191, 0);
  font-style: italic;
  text-align: center;
}

h2 {
  color: rgba(255, 217, 0, 0.991);
  font-style: italic;
  text-align: center;
}

h3 {
  color: rgba(255, 225, 143, 0.897);
  font-style: italic;
  text-align: center;
}


.before {
  border: 3px black;
  background-color: darkgoldenrod;
  margin-left: 50px;
  padding: 10px;
  width: 600px;
  float: left;
}

.after {
  border: 3px lightgray;
  background-color: darkgoldenrod;
  margin: 100px;
  padding: 10px;
  width: 600px;
  float: right;
}

body {
  background-color: lightgoldenrodyellow
}